.light {
    --color-background:#f6f6f6;
    --color-siteTitle-link: #000;
    --color-category-bg: black;
    --color-category-font: white;
    --color-Introduction-shadow: 1px 2px 18px rgba(0, 0, 0, 0.2);
    --color-postLink-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.dark {
    --color-background: #232326;
    --color-text: #f6f6f6;
    --color-strong-text: #6abcff;
    --color-siteTitle-link: #f6f6f6;
    --color-category-bg: #E8E8E8;
    --color-category-font: #000000;
    --color-Introduction-shadow: 1px 2px 18px rgba(255, 255, 255, 0.1);
    --color-postLink-shadow: 0 0 5px rgba(0, 0, 0, 2.15);
}

body {    
    background-color: var(--color-background);
    transition: 0.2s;
    font-family: 'IBM Plex Sans KR', sans-serif, 'Fira Code', monospace;
}

h1,
h2,
h3,
h4,
h5,
hr,
button,
input,
a,
p,
i,
li,
td,
tr,
footer,
span {
  color: var(--color-text);
}

strong {
    color: var(--color-strong-text);
}

/* Title Link Tag */
a::before {
    background-color: var(--color-siteTitle-link);
}

/* SVG Icons Themeing */

.LeftPrev path {
    fill: var(--color-text)
}

.RightNext path {
    fill: var(--color-text)
}

.githubIcon path {
    fill: var(--color-text);
}

.rssFeed path {
    fill: var(--color-text)
}

.searchIcon path {
    fill: var(--color-text)
}

.closeIcon path {
    stroke: var(--color-text)
}

.reOrder path {
    stroke: var(--color-text);
    fill: var(--color-text);
}

/* div Tags Dark Mode Themeing */
div .categoryItems {
    background: var(--color-category-bg);
    color: var(--color-category-font);
}

div .postItemWrapper {
    box-shadow: var(--color-postLink-shadow);
}

div .scroll {
    background-color: var(--color-background);
    box-shadow: var(--color-Introduction-shadow);
}

div .navBarExtended {
    background-color: var(--color-background);
}